body{
  background-color: #50514F;
  color: white;
}
h1{
  font-weight: 800;
  margin-top: 1rem;
  text-align: center;
  background-color: #F25F5C;
  color: white;
  text-transform: uppercase;
}

.App{
  text-align: center;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.App.work{
  color: #5B5F97;
  background-color: #FFE066;
  transition: background-color 2s;
}

.App.break{
  color: #FAF3DD;
  background-color: #70C1B3;
  transition: background-color 2s;
}


.duration-selector{
  display: block;
}


.App.work button{
  background-color: #5B5F97;
  color: white;
  border-color: #5B5F97;
  margin: 0.1rem;
}

.App.break button{
  background-color: #FAF3DD;
  color: #70C1B3;
  border-color: #FAF3DD;
  margin: 0.1rem;
}

.timeSelector button{
  font-size: 2rem;
  width: 100%;
}

.selectedTime{
  font-size: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.main-timer{
  margin-top: 2rem;
  display: inline-block;
}

.what-time{
  font-size: 4rem;
}

.timeLeft{
  font-size: 7rem;
}

@media (min-width: 400px) {
  .duration-selector{
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .timeSelector button{
    width: auto;
    display: inline-block;
}

.increase{
  float: right;
}

.decrease{
  float:left;
}

.selectedTime{
  display: inline-block;
}
}

footer{
  text-align: center;
  margin-top: 2rem;
}
